extends @pug/base

append globals
	- pageName = 'home'

append vars

block content
	+b.home
		//+popup({id: `form-success`}).popup-success
		//	+b.popupSuccess
		//		+e.IMG.img(src=`${baseDir}assets/images/icons/success-icon.svg` alt="")
		//		+e.content
		//			+e.title(data-i18n="success.title") Заявка отправлена
		//			+e.text
		//				span(data-i18n="success.text") Вы&nbsp;среди тех, кто первым узнает о&nbsp;наших продуктах. Наш представитель свяжется с&nbsp;вами в&nbsp;ближайшее время
		//			+e.BUTTON.btn-back.popup__close(type="button" data-i18n="success.btn") Спасибо!
		//
		//include ../components/product/product-1
		//include ../components/product/product-2
		//include ../components/product/product-3
		//include ../components/product/product-4
		//include ../components/product/product-5
		//include ../components/product/product-6
		//include ../components/product/product-7

		include @components/header/header

		+b.home-intro
			+e.wrapper
				+e.IMG.bg(src=`${baseDir}assets/images/home/bg.jpg` alt="")
				+e.content
					+e.title(data-aos="fade-up" data-i18n="intro.title") Добро пожаловать
					+e.desc.subtext(data-aos="fade-up" data-aos-delay="150" data-i18n="intro.subtext") Мы&nbsp;рады, что вы&nbsp;среди тех, кто первым познакомился с&nbsp;нашим лимитированным выпуском. Это ваш шаг к&nbsp;качеству и&nbsp;результатам, а&nbsp;мы&nbsp;гордимся быть частью этого пути. Впереди&nbsp;&mdash; новые достижения, которые мы&nbsp;покорим вместе.
				+b.home-tab
					+e.wrapper
						+e.content
							+e.IMG.icon(src=`${baseDir}assets/images/icons/search.svg` alt="")
							+e.text Выберите доступную вакансию...
						+e.arrow
							+svg("arrow")
					+b.home-tab-menu
						+e.item
							+e.text Повар
							+e.arrow
								+svg("arrow")
						+e.item
							+e.text Официант
							+e.arrow
								+svg("arrow")
						+e.item
							+e.text Уборщик
							+e.arrow
								+svg("arrow")


		+b.home-about#section2
			+e.content
				+e.title.title(data-aos="fade-up" data-i18n="about.title") О НАС
				+e.desc.subtitle(data-aos="fade-up" data-aos-delay="150" data-i18n="about.desc_1") Мы&nbsp;лучшие в&nbsp;своем деле и&nbsp;каждый день становимся еще лучше, чтобы дарить вам вкус и&nbsp;качество, которым можно доверять.

		+b.home-goal
			+e.content
				+e.item
					+e.number 15
					+e.name филиалов
					+e.desc Быстро растущий бизнес 15&nbsp;новых точек за&nbsp;год
				+e.item
					+e.number 200
					+e.name хот-догов
					+e.desc Ежедневно мы&nbsp;продаем 1000 хот-догов
				+e.item
					+e.number 50
					+e.name сотрудников
					+e.desc 50&nbsp;довольных сотрудников за&nbsp;год

		+b.home-bonus#section3
			+e.content
				+e.title.title(data-aos="fade-up") ПЛЮСЫ РАБОТЫ
				+e.desc.subtitle(data-aos="fade-up" data-aos-delay="150") Мы&nbsp;предлагаем отличные условия работы, карьерный рост и&nbsp;поддержку, помогая вам достигать своих целей.
			+e.slider.js-slider-bonus(data-aos="fade-up" data-aos-delay="300")
				.swiper-wrapper
					each item in data.bonus
						+e.item.swiper-slide
							+bonus(item)

		+b.home-faq
			+e.wrapper
				+e.left
					+e.content
						+e.title.title(data-aos="fade-up") ОТВЕТЫ НА&nbsp;ВОПРОСЫ
						+e.desc.subtitle(data-aos="fade-up" data-aos-delay="150") Мы&nbsp;лучшие в&nbsp;своем деле и&nbsp;каждый день становимся лучше, чтобы радовать вас вкусом и&nbsp;качеством, которому можно доверять.
						+e.IMG.man(src=`${baseDir}assets/images/icons/man.svg` alt="")
						+e.IMG.dialog--1(src=`${baseDir}assets/images/icons/dialog-1.svg` alt="")
						+e.IMG.dialog--2(src=`${baseDir}assets/images/icons/dialog-2.svg` alt="")
				+e.right
					.accordion
						.accordion__item
							.accordion__header(data-toggle='#faq1')
								p Какова ваша миссия?
								.accordion__icon
									+svg("arrow")
							#faq1.accordion__content
								p Наша миссия&nbsp;&mdash; создавать вкусные и&nbsp;качественные хот-доги, которым можно доверять, и&nbsp;радовать наших клиентов каждый день.
						.accordion__item
							.accordion__header(data-toggle='#faq2')
								p Почему выбирают вас?
								.accordion__icon
									+svg("arrow")
							#faq2.accordion__content
								p Наша миссия&nbsp;&mdash; создавать вкусные и&nbsp;качественные хот-доги, которым можно доверять, и&nbsp;радовать наших клиентов каждый день.
						.accordion__item
							.accordion__header(data-toggle='#faq3')
								p Как можно стать частью вашей команды?
								.accordion__icon
									+svg("arrow")
							#faq3.accordion__content
								p Наша миссия&nbsp;&mdash; создавать вкусные и&nbsp;качественные хот-доги, которым можно доверять, и&nbsp;радовать наших клиентов каждый день.
						.accordion__item
							.accordion__header(data-toggle='#faq4')
								p Какие у вас стандарты качества?
								.accordion__icon
									+svg("arrow")
							#faq4.accordion__content
								p Наша миссия&nbsp;&mdash; создавать вкусные и&nbsp;качественные хот-доги, которым можно доверять, и&nbsp;радовать наших клиентов каждый день.

		+b.home-form
			+e.IMG.bg-1(src=`${baseDir}assets/images/home/circle-5.png` alt="")
			+e.content
				+e.title.title(data-aos="fade-up" data-i18n="form.title") Узнайте #[br] первыми
				+e.desc.subtitle(data-aos="fade-up" data-aos-delay="150" data-i18n="form.subtext") Присоединяйтесь к&nbsp;сообществу тех, кто выбирает лучшее. Оставьте свои контакты, и&nbsp;мы&nbsp;будем держать вас в&nbsp;курсе новинок и&nbsp;эксклюзивных предложений BEFIT NUTRITION.
			+e.FORM.form(action="" name="mailForm" data-aos="fade-up" data-aos-delay="300")
				+e.form-row
					+e.INPUT.input.js-input(type="text" name="name" id="name" placeholder="Ваше имя")
					+e.INPUT.input-hide.required.js-phone-mask-fake(type="text" name="phone")
					+e.INPUT.input.js-phone-mask(placeholder="+998 ( __ ) ___ - __ - __")
				+e.BUTTON.btn(data-i18n="form.btn") Оставить контакты

		+b.home-contacts#section5
			+e.IMG.bg-1.for-devices(src=`${baseDir}assets/images/home/circle-6.png` alt="")
			+e.title.title(data-aos="fade-up" data-i18n="contacts") МЫ ЗДЕСЬ
			+e.content(data-aos="fade-up" data-aos-delay="150")
				+e.A.btn(href="https://instagram.com/befitnutrition.uz" target="_blank")
					+e.IMG.btn-border.for-devices(src=`${baseDir}assets/images/icons/border-mobile.svg` alt="")
					+e.IMG.btn-border.for-desktop(src=`${baseDir}assets/images/icons/border.svg` alt="")
					span Instagram
				+e.A.btn(href="tel:+998555180770" target="_blank")
					+e.IMG.btn-border.for-devices(src=`${baseDir}assets/images/icons/border-mobile.svg` alt="")
					+e.IMG.btn-border.for-desktop(src=`${baseDir}assets/images/icons/border.svg` alt="")
					span +998 (55) 518 - 07 - 70
